/*
Theme Name: AYANA Biolife Child
Author: Khalid Creations
Author URI: https://khalidcreations.com
Template: ayanabiolife
*/

a {
    outline: none !important;
    text-decoration: none;
}

#primary {
    float: none;
    width: 100% !important;
}

.slider-images .slide-item {
    padding: 200px 0;
    background-size: cover;
    background-position: center;
    position: relative;
}

.slider-images .slide-item:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0 0 0 / 16%);
    z-index: 0;
}

.slider-images .slide-item .container {
    position: relative;
    z-index: 1;
}

.slider-images .slide-item-content {
    text-align: center;
    color: #ffffff;
}

.slider-images .title {
    font-size: 40px;
    text-shadow: 1px 1px 1px #797979;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 15px;
}

.slider-images .subtitle {
    font-size: 27px;
    font-weight: 400;
    line-height: 35px;
    text-shadow: 1px 1px 1px #797979;
}

.slider-images .link {
    color: #ffffff;
    background: #68834e;
    padding: 12px 44px;
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;
    margin-top: 23px;
    text-decoration: none;
    transition: all 0.3s;
}

.slider-images .link:hover {
    background: #546b3e;
}


.slider-images .owl-dots {
    margin-top: -77px !important;
    z-index: 10;
    position: relative;
    padding: 20px 0;
}

.slider-images .owl-theme .owl-dots .owl-dot.active span,
.slider-images .owl-theme .owl-dots .owl-dot:hover span {
    background: transparent;
    border: 2px solid #ffffff;
}

.slider-images .owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    background: #ffffff;
    margin: 5px 3px;
}

.slider-images .owl-theme .owl-dots .owl-dot {
    outline: none;
}

.site-header .custom-logo-link,
.site-header .site-logo-anchor,
.site-header .site-logo-link {
    float: left;
    margin-right: 30px;
}

.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
    margin-bottom: 0;
    padding: 25px 0;
}
.main-navigation ul li a:hover,
.main-navigation ul li:hover > a,
.site-title a:hover,
.site-header ul.menu li.current-menu-item > a {
    color: #68834e;
}

.nav-menu img {
    display: inline;
    border-radius: 0;
    margin-top: -4px;
}

h2.section-title {
    font-weight: 500;
    padding: 55px 0 30px;
    margin: 0;
    color: #68834e;
    text-transform: uppercase;
}

ul.products.columns-4 {
    margin-left: -1%;
    margin-right: -1%;
}



ul.products.columns-4 .product {
    width: 48%;
    margin: 20px 1%;
    padding: 1%;
    height: 100%;
    clear: none;
    float: left;
}

ul.products.columns-4 .product:nth-child(odd) {
    clear: both;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title, .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title>a, .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-category__title, .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-product__title, .wc-block-grid__products li.product .wc-block-grid__product-title, .wc-block-grid__products li.product .wc-block-grid__product-title>a, .wc-block-grid__products li.product .woocommerce-loop-category__title, .wc-block-grid__products li.product .woocommerce-loop-product__title, ul.products .wc-block-grid__product .wc-block-grid__product-title, ul.products .wc-block-grid__product .wc-block-grid__product-title>a, ul.products .wc-block-grid__product .woocommerce-loop-category__title, ul.products .wc-block-grid__product .woocommerce-loop-product__title, ul.products li.product .wc-block-grid__product-title, ul.products li.product .wc-block-grid__product-title>a, ul.products li.product .woocommerce-loop-category__title, ul.products li.product .woocommerce-loop-product__title {
    font-weight: 600;
    margin-bottom: .5407911001em;
}

.woocommerce-tabs ul.tabs li.active a, ul.products li.product .price, .onsale, .wc-block-grid__product-onsale, .widget_search form:before, .widget_product_search form:before {
    color: #68834e;
    font-weight: 600;
    font-size: 20px;
}

.wc-block-grid__products .wc-block-grid__product .woocommerce-LoopProduct-link, .wc-block-grid__products li.product .woocommerce-LoopProduct-link, ul.products .wc-block-grid__product .woocommerce-LoopProduct-link, ul.products li.product .woocommerce-LoopProduct-link {
    display: block;
    text-decoration: none;
}


.site-footer {
    background: #403442;
    color: #a7a7a7;
    padding: 50px 0 0px;
}

.site-footer a {
    color: #a7a7a7 !important;
    text-decoration: none;
}

.site-footer .logo {
    width: 280px;
    max-width: 100%;
}

.site-footer .company-info {
    margin-top: 10px;
}


.site-footer .email {
    margin-top: 10px;
}

.site-footer .address {
    margin-bottom: 15px;
}

.site-footer .address i{
    display: block;
    float: left;
    padding: 17px 0;
}

.site-footer .company-info i {
    margin-right: 10px;
}

.site-footer .phones a {
    font-size: 22px;
    text-decoration: none;
    line-height: 31px;
    font-weight: 300;
}

.site-footer .phones i {
    top: -2px;
    position: relative;
}

.site-footer .copyright {
    background: #362b38;
    margin-top: 50px;
    padding: 20px 0;
}

.site-footer .copyright-text {
    padding: 4px 0;
}

.site-footer .social-media a {
    font-size: 30px;
    line-height: 30px;
    margin-left: 5px;
}

.site-footer .social-media {
    text-align: right;
}

.footer-navigation {
    column-count: 2;
    grid-column-gap: 50px;
    margin-top: 10px;
}

.footer-navigation > ul {
    padding: 0;
    margin: 0;
}

.footer-navigation ul {
    list-style-type: none;
}

.ayana-steps {
    position: relative;
    margin-top: 30px;
}

.ayana-steps:before {
    content: '';
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #68834e;
}

.ayana-steps .step-icon {
    width: 100px;
    height: 100px;
    margin: auto;
    border: 1px solid #68834e;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    background: #ffffff;
}

.ayana-steps .step-icon .c-content-line-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 52px;
    color: #68834e;

    line-height: 94px;

}

.ayana-steps .step-content {
    background: #ffffff;
    position: relative;
    z-index: 1;
    border: 1px solid #68834e;
    width: 600px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 33px;
    padding: 30px;
}

.ayana-steps .step-content:before {
    content: '';
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #68834e;
    transform: rotate(
            45deg
    );
    margin: auto;
    border-right: none;
    border-bottom: none;
}

.ayana-steps .step-ttile {
    font-size: 25px;
    margin-bottom: 19px;
    font-weight: 600;
    color: #3f444a;
}

.ayana-steps .step-ttile span {
    color: #68834e;
}

.blog-item-image-src {
    padding-bottom: 65%;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
}

.blog-item-button a {
    background: #68834e;
    color: white;
    border: none;
    border-radius: 30px;
}

article.blog-item {
    margin-bottom: 30px;
}

.blog-item-title a {
    color: #68834e;
    text-decoration: none;
    font-weight: 500;
    font-size: 21px;
}

.page-content {
    padding: 40px 0;
}

.wc-block-grid__products .wc-block-grid__product .button, .wc-block-grid__products li.product .button,
ul.products .wc-block-grid__product .button, ul.products li.product .button {
    display: none;
}

h1.woocommerce-products-header__title.page-title {
    text-align: center;
    padding: 0;
    margin: 30px 0 0 0;
    font-weight: 100;
}

.woocommerce-tabs ul.tabs li.active a {
    text-decoration: none;
    padding: 10px 40px;
    -webkit-box-shadow: 0 2px 7px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 15%);
    border-radius: 80px;
    outline: none;
    border: none;
}

.product .woocommerce-tabs ul.tabs {
    margin-left: -25px;
    margin-right: -25px;
    border: none;
}

.product  .woocommerce-tabs ul.tabs>li {
    margin: 0 25px;
    display: inline-block;
}
.product .woocommerce-tabs ul.tabs li {
    text-align: center;
    position: relative;
    z-index: 0;
    display: inline-block;
    border: none;
}

.woocommerce-tabs ul.tabs li a {
    padding: 1em 0;
    display: block;
    outline: none;
    color: #68834e;
    text-decoration: none;
}


#tab-additional_information h2 {
    display: none;
}

nav.storefront-product-pagination {
    display: none;
}


.woocommerce-error, .woocommerce-info, .woocommerce-message, .woocommerce-noreviews, p.no-comments {
    background-color: #68834e;
}

table:not( .has-background ) tbody tr:nth-child(2n) td, fieldset, fieldset legend {
    background-color: #f7f7f7;
}

button.alt, input[type="button"].alt,
input[type="reset"].alt,
input[type="submit"].alt,
.button.alt,
.widget-area .widget a.button.alt {
    background-color: #68834e;
    border-color: #68834e;
    color: #ffffff;
}

button.alt:hover, input[type="button"].alt:hover, input[type="reset"].alt:hover, input[type="submit"].alt:hover, .button.alt:hover, .widget-area .widget a.button.alt:hover {
    background-color: #47443b;
    border-color: #47443b;
    color: #ffffff;
}

#order_review, #order_review_heading {
    width: 100% !important;
}

.form-row-last {
    width: 100% !important;
}

#customer_details .form-row label {
    width: 100%;
}

#customer_details .form-row .woocommerce-input-wrapper {
    display: block;
}

#customer_details .form-row {
    margin: 0;
    display: block;
    margin-bottom: 30px;

}

.select2-container--default .select2-selection--single {
    background-color: #f2f2f2;
    border: none;
    border-top: 1px solid #d8d8d8;
    border-radius: 0;
    height: 45px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 45px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
}

form.checkout h3 {
    font-weight: 600;
}

.order-total span.woocommerce-Price-amount.amount {
    color: #68834e;
    font-weight: 700;
    font-size: 25px;
}

form {
    margin: 0;
}

.single-product div.product table.variations select {
    max-width: 70%;
    vertical-align: middle;
    border: 1px solid #68834e;
    height: 43px;
    padding: 0 20px;
}

.single-product div.product .single_variation .price {
    margin-bottom: 1em;
    display: block;
    font-weight: 500;
    font-size: 30px;
}

.single-product div.product .woocommerce-tabs {
    margin-top: 0;
}

.single-product div.product .woocommerce-product-gallery {
    background: #f7f7f7;
    padding: 25px 25px 0 25px;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    border: 1px solid #d4d4d4;
}

.related>h2:first-child, .upsells>h2:first-child {
    font-weight: 600;
    color: #68834e;
}

.added_to_cart.alt, .added_to_cart, .widget a.button.checkout {
    background-color: #68834e;
    border-color: #68834e;
    color: #ffffff;
    margin-left: 15px;
}

.pswp__bg {
    background: rgb(0 0 0 / 72%);
}

table.cart td {
    vertical-align: middle;
}

table.cart .product-thumbnail img {
    margin: 0 auto;
    max-width: 3.706325903em;
    height: auto;
    border: 1px solid #68834e;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .button, .widget a.button {
    background-color: #68834e;
    border-color: #68834e;
    color: #ffffff;
}

@media (min-width: 768px) {
    .site-main ul.products.columns-4 li.product {
        width: 21.05%;
    }
    .woocommerce-tabs .panel {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-top: 0;
    }

    .woocommerce-tabs ul.tabs {
        width: 100%;
        float: none;
        margin-right: 0;
    }

    ul.products.columns-4 .product:nth-child(odd) {
        clear: none;
    }

    ul.products.columns-4 .product {
        width: 23%;
    }

    .site-header {
        margin-bottom: 0;
        padding: 25px 0;
    }

    .woocommerce-active .site-header .site-search {
        width: 21.7391304348%;
        float: right;
        margin-right: 0;
        clear: none;
    }

    .woocommerce-active .site-header .main-navigation {
        width: auto;
        float: left;
        margin-right: 0;
        clear: none;
    }

    .storefront-primary-navigation {
        clear: none;
        float: left;
    }

    .main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a {
        padding: 15px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
    }

    .primary-navigation {
        display: block;
        padding: 21px 0;
    }

    .site-header-cart .cart-contents {
        padding: 10px;
        display: block;
        position: relative;
        background-color: rgb(0 0 0 / 3%);
        height: auto;
        width: auto;
        text-indent: 0;
    }

    .woocommerce-active .site-header .site-header-cart {
        width: 20%;
        float: right;
        margin: 26px 0;
    }

    .woocommerce-active .site-header .site-search {
        width: auto;
        float: left;
        margin-right: 0px;
        clear: none;
    }
}